body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #8a5cff, #d678a6, #ff914d);
  font-family: "Tahoma", "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.option {
  display: flex;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  color: black;
}

.icon {
  margin-left: 40px;
  font-size: 140px;
  font-weight: bold;
}

.wrong {
  color: red;
}

.correct {
  color: limegreen;
}

